# Барлығын блоктаймыз
/*
/*/

# Тек сайт файлдарын рұқсат етеміз
!.gitignore
!Той Шақыру.html
!index.html
!Той Шақыру Plus конвертсіз.html
!shaqyru-mvp.html
!wedding-data.js
!template-kazakh.html
!template-minimal.html
!template-romantic.html
!template-dark.html
!Той Шақыру - iOS (1).html
