# Шаблон папкалары (тек html)
!/kazakh/
/kazakh/*
!/kazakh/index.html

!/minimal/
/minimal/*
!/minimal/index.html

!/romantic/
/romantic/*
!/romantic/index.html

!/dark/
/dark/*
!/dark/index.html

# Клиент жұмыстары
!/client/
/client/*
!/client/**/index.html

# Тамырдағы файлдар (ескіден қалған)
!.gitignore
!index.html
!wedding-data.js

# Қалғанның бәрін блоктаймыз
/*
/*/
